/**************************************/
/*                                    */
/*            ResponseGrid            */
/*                                    */
/**************************************/

.response-grid {
    .row {
        margin-bottom:20px;
        
        &:after {
            content:'';
            display:block;
            height:0;
            clear: both;
        }
    }
    
    .col-1 { width:6.382978723404%; }
    .col-2 { width:14.893617021276%; }
    .col-3 { width:23.404255319148%; }
    .col-4 { width:31.91489361702%; }
    .col-5 { width:40.425531914892%; }
    .col-6 { width:48.936170212764%; }
    .col-7 { width:57.446808510636%; }
    .col-8 { width:65.957446808508%; }
    .col-9 { width:74.46808510638%; }
    .col-10 { width:82.978723404252% ; }
    .col-11 { width:91.489361702124%; }
    .col-12 { width:100%; margin-left:auto; }   
    
    .push-1 { left:6.382978723404% + 2.127659574468%; }
    .push-2 { left:14.893617021276% + 2.127659574468%; }
    .push-3 { left:23.404255319148% + 2.127659574468%; }
    .push-4 { left:31.91489361702% + 2.127659574468%; }
    .push-5 { left:40.425531914892% + 2.127659574468%; }
    .push-6 { left:48.936170212764% + 2.127659574468%; }
    .push-7 { left:57.446808510636%  + 2.127659574468%; }
    .push-8 { left:65.957446808508% + 2.127659574468%; }
    .push-9 { left:74.46808510638% + 2.127659574468%; }
    .push-10 { left:82.978723404252% + 2.127659574468%; }
    .push-11 { left:91.489361702124% + 2.127659574468%; }
    .push-12 { left:100%; }
    
    .pull-1 { right:6.382978723404% + 2.127659574468%; }
    .pull-2 { right:14.893617021276% + 2.127659574468%; }
    .pull-3 { right:23.404255319148% + 2.127659574468%; }
    .pull-4 { right:31.91489361702% + 2.127659574468%; }
    .pull-5 { right:40.425531914892% + 2.127659574468%; }
    .pull-6 { right:48.936170212764% + 2.127659574468%; }
    .pull-7 { right:57.446808510636% + 2.127659574468%; }
    .pull-8 { right:65.957446808508% + 2.127659574468%; }
    .pull-9 { right:74.46808510638% + 2.127659574468%; }
    .pull-10 { right:82.978723404252% + 2.127659574468%; }
    .pull-11 { right:91.489361702124% + 2.127659574468%; }
    .pull-12 { right:100%; }
    
    [class^="col-"] {
        position:relative;
        float:left;
        margin-left:2.127659574468%;
        background:#ccc; /*** development ***/
    }
    
    [class^="col-"] { 
        &:first-child { margin-left:auto; }
    }

}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    
}

@media only screen and (max-width: 480px) {
    
    .response-grid {
        [class^="col-"] {
            float:none;
            margin:auto auto 20px auto;
            width:100%;
        }    
    }
    
}
