/**************************************/
/*                                    */
/*            ResponseGrid            */
/*                                    */
/**************************************/

.response-grid {
    .row {
        margin-bottom:20px;
        
        &:after {
            content:'';
            display:block;
            height:0;
            clear: both;
        }
    }
    [class^="col-"] {
        float:left;
        margin-left:2.127659574468%;
        background:#ccc; /*** development ***/
    }
    .col-1-1 { width:100%; }
    
    .col-1-3 { width:31.91489361702%; }
    .col-2-3 { width:65.957446808508%; }  
    
    .col-1-4 { width:23.404255319148%; }
    .col-3-4 { width:74.46808510638%; }
    
    .col-1-5 { width:18.2978723404248%; }
    .col-2-5 { width:38.7234042553176%; }
    .col-3-5 { width:59.1489361702104%; }
    .col-4-5 { width:79.5744680851032%; }
    
    .col-1-6 { width:14.893617021276%; }
    .col-2-6 { width:31.91489361702%; }
    .col-4-6 { width:65.957446808508%; }
    .col-5-6 { width:82.978723404252%; }
    
    .col-1-8 { width:10.63829787234%; }
    .col-2-8 { width:23.404255319148%; }
    .col-3-8 { width:36.170212765956%; }
    .col-5-8 { width:61.702127659572%; }
    .col-6-8 { width:74.46808510638%; }
    .col-7-8 { width:87.234042553188%; }
    
    .col-1-10 { width:8.0851063829784%; }
    .col-2-10 { width:18.2978723404248%; }
    .col-3-10 { width:28.5106382978712%; }
    .col-4-10 { width:38.7234042553176%; }
    .col-6-10 { width:59.1489361702104%; }
    .col-7-10 { width:69.3617021276568%; }
    .col-8-10 { width:79.5744680851032%; }
    .col-9-10 { width:89.7872340425496%; }
    
    .col-1-12 { width:6.382978723404%; }
    .col-2-12 { width:14.893617021276%; }
    .col-3-12 { width:23.404255319148%; }
    .col-4-12 { width:31.91489361702%; }
    .col-5-12 { width:40.425531914892%; }
    
    .col-7-12 { width:57.446808510636%; }
    .col-8-12 { width:65.957446808508%; }
    .col-9-12 { width:74.46808510638%; }
    .col-10-12 { width:82.978723404252%; }
    .col-11-12 { width:91.489361702124%; }
    
    .col-1-2, .col-2-4, .col-3-6, .col-4-8, .col-5-10, .col-6-12 { width:48.936170212764%; }
    .col-2-2, .col-3-3,  .col-4-4, .col-5-5, .col-6-6, .col-8-8, .col-10-10, .col-12-12 { width:100%; margin-left:auto; }
    
    [class^="col-"] { 
        &:first-child { margin-left:auto; }
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    
}

@media only screen and (max-width: 480px) {
    
    .response-grid {
        [class^="col-"] {
            float:none;
            margin:auto auto 20px auto;
            width:100%;
        }    
    }
    
}
